body {
    background-color: white;
    margin: auto;
}

header {
    background-image: linear-gradient(
        darkblue,
        navy,
        royalblue
    );
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0%;
    font-size: 2em;
}

header p b {
    margin: 5px 0 0 0;
    font-size: 1.2em;
    font-weight: normal;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 20px auto;
}



